template(name='thenavbar')
  //--
  .navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      button.btn.btn-default.btn-back.pull-left.hidden(type='button', onclick='history.back()')
        i.fa.fa-lg.fa-chevron-left
        span Back
      a.navbar-brand(title='Customers v{{getAppVersion}}', href='/') {{AppName}}
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='/board')
              i.fa.fa-gears
              |               公告板
          
          li
            a(href='/admin')
              i.fa.fa-gears
              |               Admin

          
          li
            +loginButtons
